* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}
h1 {
    padding: 20px;
}

h2 {
    font-family: sans-serif;
}
.intro {
    margin: 10%;
    margin-top: 50px;
    max-height: fit-content;
}

body {
    background-color: rgb(8, 0, 22);
}


footer {
    border-top-color: aliceblue;
    bottom: 0;
    max-height: 50px;
    width: 100%;
    padding: 10px;
    background-color: rgb(62, 69, 75);
    border: 2px;
    position: fixed;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(62, 69, 75);

}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    align-content: center;

}

/*  
    stole this code because it looked cool, slightly modified from the original
    source: https://www.blog.duomly.com/html-button-hover-effects/ 
*/
#shiny-shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #1c2541;
  }
  
nav a {
    border: 2px solid white;
    background: rgb(35, 38, 41);
    text-transform: uppercase;
    color: white;
    margin: 10px;
    padding: 1%;
    outline: none;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
  }
  
  span {
    z-index: 20;  
  }
  
nav a:after {
    content: '';
      display: block;
      position: absolute;
      top: -36px;
      left: -100px;
      background: white;
      width: 50px;
      height: 125px;
      opacity: 20%;
      transform: rotate(-45deg);
  }
  
nav a:hover:after {
    left: 120%;
    transition: all 800ms cubic-bezier(0.3, 1, 0.2, 1);
     -webkit-transition: all 800ms cubic-bezier(0.3, 1, 0.2, 1);
  }


/* For the planet subpage*/
.planet-img img {
    flex-wrap: wrap;
    max-width: 100px;

}

.planet-img {
    flex-wrap: wrap;
    align-content: space-between;
    margin: 10%;
    
}


/*About Us sub-page*/
.tofu img {
    max-width: 25%;
    max-height: fit-content;
    margin: 20px;
}

.tofu {
    padding: 5%;
}

/*More sub-page
 ..and, yes I forgot how to write comments in the code on one row instead of this
 bother looking it up tho*/
 .more {
     text-decoration: none;
 }


 .dwarfplanets-list {

     margin: 15%;
     margin-top: 0%;
     color: rgba(0, 0, 0, 0.534);
 }